<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>猜猜我是誰-管理頁面</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/manage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var class_item = <%- JSON.stringify(class_item) %>;
    var class_list = <%- JSON.stringify(class_list) %>;
    var pendingClass_list = <%- JSON.stringify(pendingClass_list) %>;
    var approvedClass_list = <%- JSON.stringify(approvedClass_list) %>;
    var isadmin = <%- JSON.stringify(isadmin) %>;
    var role = isadmin ? 'manage' : 'user';
</script>
<script type="text/javascript" src="/js/utils.js"></script>