<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/meta.html %>
    <script type="text/javascript" src="/js/manage.js"></script>
</head>
<body>
    <% include partials/modal.html %>
    <% var role = isadmin ? 'manage' : 'user' %>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-6 offset-md-3 list-group">
                    <div class="row">
                        <div class="col-md-12 offset-md-2" style="display: flex;">
                            <div>
                                <h1 class='top center'>FrameTalk</h1>
                                <h4 class="center">powered by IoTtalk</h4>
                                <h5 class='center'>Google Chrome Version</h5>
                            </div>
                            <div>
                                <img class="img-thumbnail" style="width: 7rem; border: none;" src="/icon/NCTU_logo.png">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="accordion">
                        <div class="card">
                            <div id="headingUpload" class="card-header my_cursor" data-toggle="collapse" data-target="#collpaseUpload" aria-expanded="true" aria-controls="collpaseUpload">
                                <button class="mb-0 btn btn-link homepage_label" >上傳檔案</button>
                            </div>
                            <div id="collpaseUpload" class="collapse" aria-labelledby="headingUpload" data-parent="#accordion">
                                <div class="card-body">
                                    <% for(let i = 0; i < class_list.length; i++){ %>
                                        <a href="/<%= role %>/upload/<%= class_list[i].id %>" class="list-group-item list-group-item-action"> <%= class_list[i].name %> </a>
                                    <% } %>

                                    <% if(isadmin){ %>
                                    <a id="homepage_link_show_classModal_btn" href="#" class="list-group-item list-group-item-action">新增</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <% if(isadmin){ %>
                        <div class="card">
                            <div id="headingPending" class="card-header my_cursor" data-toggle="collapse" data-target="#collpasePending" aria-expanded="true" aria-controls="collpasePending">
                                <button class="btn btn-link homepage_label" >待審檔案</button>
                            </div>
                            <div id="collpasePending" class="collapse" aria-labelledby="headingPending" data-parent="#accordion">
                                <div class="card-body">
                                    <% if(pendingClass_list.length == 0){ %>
                                        <a href="#" class="list-group-item-action">無</a>
                                    <% } %>
                                    <% for(let i = 0; i < pendingClass_list.length; i++){ %>
                                        <a href="/<%= role %>/pending/<%= pendingClass_list[i].id %>" class="list-group-item list-group-item-action"> <%= pendingClass_list[i].name %> </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingApproved" class="card-header my_cursor" data-toggle="collapse" data-target="#collpaseApproved" aria-expanded="true" aria-controls="collpaseApproved">
                                <button class="btn btn-link homepage_label">已審檔案</button>
                            </div>
                            <div id="collpaseApproved" class="collapse" aria-labelledby="headingApproved" data-parent="#accordion">
                                <div class="card-body">
                                    <% if(approvedClass_list.length == 0){ %>
                                        <a href="#" class="list-group-item-action">無</a>
                                    <% } %>
                                    <% for(let i = 0; i < approvedClass_list.length; i++){ %>
                                        <a href="/<%= role %>/approved/<%= approvedClass_list[i].id %>" class="list-group-item list-group-item-action"> <%= approvedClass_list[i].name %> </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingGroup" class="card-header my_cursor" data-toggle="collapse" data-target="#collpaseGroup" aria-expanded="true" aria-controls="collpaseGroup">
                                <button class="btn btn-link homepage_label">編輯群組</button>
                            </div>
                            <div id="collpaseGroup" class="collapse" aria-labelledby="headingGroup" data-parent="#accordion">
                                <div class="card-body">
                                    <% if(approvedClass_list.length == 0){ %>
                                        <a href="#" class="list-group-item-action">無</a>
                                    <% } %>
                                    <% for(let i = 0; i < approvedClass_list.length; i++){ %>
                                        <a href="/<%= role %>/group/<%= approvedClass_list[i].id %>" class="list-group-item list-group-item-action"> <%= approvedClass_list[i].name %> </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingDisplay" class="card-header my_cursor" data-toggle="collapse" data-target="#collpaseDisplay" aria-expanded="true" aria-controls="collpaseDisplay">
                                <button class="btn btn-link homepage_label">播放清單</button>
                            </div>
                            <div id="collpaseDisplay" class="collapse" aria-labelledby="headingDisplay" data-parent="#accordion">
                                <div class="card-body">
                                    <a href="/<%= role %>/display" class="list-group-item list-group-item-action homepage_link">播放清單</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
